.container {
    display: flex;
    z-index: 1000;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .icon-container {
    gap: 5px;
  }
  .dashboard-area {
    padding-left: 26rem !important;
    transition: padding-left 0.3s ease;
  }
  .sidebar:not(.open) + .dashboard-area {
    padding-left: 6rem !important;
  }
  
  .dashboard-area-2 {
    align-content: space-between;
    flex-wrap: wrap !important;
    min-height: 90vh;
    overflow: auto;
  }
  @media screen and (max-width: 767px) {
    .dashboard-area {
      padding-left: 5rem;
    }
  }
  