.dash-root{
    background: linear-gradient(90deg, #3e46aa, #e620cf);
    height: 100%;
    
}
.card-notice{
/* width: 35em; */
background-color: azure;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);

}

.headingnotice{
color:#3e46aa;
}

.btn-submit{
color: white;
border: none;
background: linear-gradient(90deg, #3e46aa, #e620cf);
}

#body{
    background-color: white;
    overflow-y: auto;
}

.body-box .ql-editor {
    height: 10vh; /* Adjust the height to fit the toolbar */
    overflow-y: auto; /* Add vertical scrollbar when content exceeds the box height */
  }